__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env/
.python-version

build/
dist/
*.spec

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

.idea/
.vscode/

.DS_Store
Thumbs.db
Desktop.ini

